<div class="gallery-item">
  <li >
    <h3 ng-dblclick="galleryItemCtrl.showUpdate = !galleryItemCtrl.showUpdate">
    {{ galleryItemCtrl.gallery.name }} </h3>
    <p> {{ galleryItemCtrl.gallery.desc }} </p>
    <button class="btn-delete"
      ng-click="galleryItemCtrl.handleDelete(galleryItemCtrl.gallery)"> DEL </button>

    <button class="btn-select"
      ng-click="galleryItemCtrl.handleSelect(galleryItemCtrl.gallery)"> SEL </button>
    <gallery-update
      ng-if="galleryItemCtrl.showUpdate"
      gallery="galleryItemCtrl.gallery"
      handle-submit="galleryItemCtrl.handleUpdate" >
    </gallery-update>
  </li>
</div>
