@import "../../scss/base.scss";

.signup {
  @include horizontal-center;
  width: 75%;
  margin-top: $pad;
  border: 3px solid $blue-light;
  border-radius: 0.5em;
  padding: $pad;
  form {
    input {
      @include magic-bubble;
      display: inline;
      width: 32.8%;
    }
    button {
      @include magic-bubble;
      color: $white;
      background-color: $blue-dark;
    }
  }
}
