@import "../../scss/base.scss";

.gallery-item {
  @include horizontal-center;
  width: 80%;
  margin-top: $pad;
  li {
    margin-top: $pad;
    position: relative;
    button {
      @include magic-bubble;
      position: absolute;
      color: $white;
      background-color: $green-dark;
      width: 20%;
      top: 0;
      right: 0;
    }
  }
}
