@import "../../scss/base.scss";

.gallery-list {
  @include horizontal-center;
  width: 80%;
  margin-top: $pad;
  form {
    border: 3px double $green-light;
    border-radius: 0.5em;
    padding: $pad;
    button {
      @include magic-bubble;
      color: $white;
      background-color: $green-dark;
    }
    ul {
      margin-top: $pad;
    }
  }
}
