@import "../../scss/base.scss";

.login {
  form {
    @include horizontal-center;
    width: 50%;
    margin-bottom: $pad;
    input {
      @include magic-bubble;
      width: 45%;
      &:focus {
        border: 2px solid $purple-light;
      }
    }
    button {
      @include magic-bubble;
      width: 45%;
      &:active {
        color: $purple-light;
        background-color: $purple-dark;
        border-color: $purple-medium;
      }
    }
  }
}
